{% extends 'layout.html.twig' %}
{% block stylesheet %}
{% endblock %}
{% block content %}
   <!--carousel-->
    <div class="banner d-flex justify-content-center">

        <h1 class="text_titre">
            Democracy is government of the people, by the people, for the people.
        </h1>

    </div>
{% endblock %}
