{% extends 'layout.html.twig' %}

{% block content %}
   <!--carousel-->
    <div class="banner d-flex justify-content-center">

        <h1 class="text_titre">
            La démocratie, c'est le gouvernement du peuple, par le peuple, pour le peuple.
        </h1>

    </div>
{% endblock %}
