<div class="mt-5" id="formular">
    <form action="/User/add" method="POST">
        <fieldset>
            <legend class="text-center">Formulaire Inscription</legend>
            <p class="text-center">
                <label for="email">Email</label>
                <input id="email" type="email" name="email" placeholder="email@email.com" value="">
            </p>
            <p class="text-center">
                <label for="nom">Nom</label>
                <input id="nom" type="text" name="lastname" placeholder="lastname" value="">
            </p>
            <p class="text-center">
                <label for="prenom">Prenom</label>
                <input id="prenom" type="text" name="firstname" placeholder="firstname" value="">
            </p>
            <p class="text-center">
                <label for="password">Mot de passe</label>
                <input id="password" type="password" name="password" placeholder="********" value="">
            </p>
            <p class="text-center">
                <label for="adress">Adresse</label>
                <input id="adress" type="text" name="adress" placeholder="1 rue de paris 75 001 Paris" value="">
            </p>
            <button type="submit" class="btn btn-primary">Valider l'inscription</button>
        </fieldset>
    </form>
</div>