
<header>

    <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar">
        <div class="container"><a class="navbar-brand logo" href="/"><img class="img-fluid" src="/assets/images/logo.png"></a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse"
                 id="navcol-1">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link active" href="/Home/index">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="/User/connexion">Login</a></li>
                    <li class="nav-item"><a class="nav-link" href="/User/add">Register</a></li>
                    <li class="nav-item"><a class="nav-link" href="/Law/index">Current law</a></li>
                    <li class="nav-item"><a class="nav-link" href="/VotedLaw/index">Voted law</a></li>
                    <li class="nav-item"><a class="nav-link" href="/VotedLaw/index">My informations</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>
